<header id="header">
  <nav id="nav">
    <div id="nav-content" class="text-center">
      <ul id="nav-list" class="nav-list">
        <li id="nav-title">
          <a href="/" class="nav-link fw-bold">IBMS</a>
        </li>
        <li id="nav-menu">
          <div class="nav-menu-list">
            <div class="nav-item">
              <ul class="nav-item-text">
                <li>
                  <a class="nav-link">介紹</a>
                </li>
              </ul>
              <div id="nav-submenu-introduce" class="nav-submenu" style="--var-item-total: 9">
                <div class="nav-submenu-container">
                  <div class="nav-submenu-content">
                    <div class="nav-submenu-group-main">
                      <h2 class="nav-submenu-header" style="--var-item-number: 1">專題介紹</h2>
                      <ul class="nav-submenu-list">
                        <li class="nav-submenu-item" style="--var-item-number: 2">
                          <a href="" class="nav-submenu-link">研究目的及動機</a>
                        </li>
                        <li class="nav-submenu-item" style="--var-item-number: 3">
                          <a href="" class="nav-submenu-link">研究方法及成果</a>
                        </li>
                        <li class="nav-submenu-item" style="--var-item-number: 4">
                          <a href="" class="nav-submenu-link">研究過程</a>
                        </li>
                        <li class="nav-submenu-item" style="--var-item-number: 5">
                          <a href="" class="nav-submenu-link">研究結論</a>
                        </li>
                      </ul>
                    </div>
                    <div class="nav-submenu-group">
                      <h2 class="nav-submenu-header">其他</h2>
                      <ul class="nav-submenu-list">
                        <li class="nav-submenu-item" style="--var-item-number: 6">
                          <a href="" class="nav-submenu-link">參考文獻</a>
                        </li>
                        <li class="nav-submenu-item" style="--var-item-number: 7">
                          <a href="" class="nav-submenu-link">開發工具</a>
                        </li>
                        <li class="nav-submenu-item" style="--var-item-number: 8">
                          <a href="" class="nav-submenu-link">分工與進度</a>
                        </li>
                        <li class="nav-submenu-item" style="--var-item-number: 9">
                          <a href="" class="nav-submenu-link">GitHub</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="nav-item">
              <ul class="nav-item-text">
                <li>
                  <a class="nav-link">服務</a>
                </li>
              </ul>
              <div id="nav-submenu-service" class="nav-submenu" style="--var-item-total: 4">
                <div class="nav-submenu-container">
                  <div class="nav-submenu-content">
                    <div class="nav-submenu-group-main">
                      <h2 class="nav-submenu-header" style="--var-item-number: 1">所有服務</h2>
                      <ul class="nav-submenu-list">
                        <li class="nav-submenu-item" style="--var-item-number: 2">
                          <a href="/PigSizeEstimation" class="nav-submenu-link">豬隻身形大小估算</a>
                        </li>
                        <li class="nav-submenu-item" style="--var-item-number: 3">
                          <a href="/PigTrackingActivity" class="nav-submenu-link">豬隻追蹤估算活動量</a>
                        </li>
                        <li class="nav-submenu-item" style="--var-item-number: 4">
                          <a href="" class="nav-submenu-link">豬隻健康度估算</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="nav-curtain"></div>
  <div class="nav-placeholder"></div>
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <script src="/javascripts/nav.js"></script>
</header>
